.cards {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  row-gap: 22px;
}

.card {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  padding-left: 3rem;
  height: auto;
  padding-bottom: 4rem;
}

.card__purple {
  display: flex;
  background: url(../images/bg-pattern-quotation.svg) 90% 0% / 32% no-repeat;
  background-color: var(--violeta);
  flex-direction: column;
}

.card__gray {
  background-color: var(--azul-acizentado);
}

.card__light {
  background-color: var(--branco);
}

.card__dark {
  background-color: var(--azul-escuro);
}

.card__dark ~ .card__light {
  background-color: var(--branco);
}
.card__infoUser {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
}

@media screen and (min-width: 820px) {
  .cards {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "card-purple card-purple card-gray card-light2"
      "card-light1 card-dark card-dark card-light2";
    margin: auto;
    height: 60rem;
    width: calc(100% - 25rem);
  }

  .card__purple {
    grid-area: card-purple;
  }

  .card__gray {
    grid-area: card-gray;
  }

  .card__light {
    grid-area: card-light1;
  }

  .card__dark {
    grid-area: card-dark;
  }

  .card__dark ~ .card__light {
    grid-area: card-light2;
  }
}
